*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}


.nav{
  display: flex;
  justify-content: end;
  background-color: #be3144;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);

  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
}

.nav_links {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.nav_link {
  display: block;
  padding: 20px;
  color: #f0f0f0;
  font-size: 22px;

}



.header {
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.header > h1 {
  color: #f0f0f0;
  font-size: 60px;

}

.header > p {
  color: #be3144;
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
}



.main{
  background-color: #45567d;
  padding: 10rem 2rem;
}
.main > h2{
  font-size: 42px;
  color: #f0f0f0;
  margin: 0 auto 3rem;
  border-bottom: 5px solid #f0f0f0;
  line-height: 1.4;
}



.cards {
  width: 1400px;
  height: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.cardOne {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  position: relative;
}
.cardOne > img {
  width: 600px;
  height: 400px;
  border-radius: 15px;
}
.titleImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.cardTwo {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  position: relative;
}
.cardTwo > img {
  width: 600px;
  height: 400px;
  border-radius: 15px;
}
.titleImgTwo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.cardThree {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  position: relative;
}
.cardThree > img {
  width: 600px;
  height: 400px;
  border-radius: 15px;
}
.titleImgTh {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.cardFour {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  position: relative;
}
.cardFour > img {
  width: 600px;
  height: 400px;
  border-radius: 15px;
}
.titleImgFo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.cardFive {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  position: relative;
}
.cardFive > img {
  width: 600px;
  height: 400px;
  border-radius: 15px;
}
.titleImgFi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}